h1 {
    color: #000000;
    font-family: "Comic Relief";
}

.boxilein {
    border-radius: 10%;
    border: 0.1rem solid;
    height: 26rem;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0vh;
    text-align: center;
    margin-left:auto ;
    margin-right: auto;
}
.verschieben{
    translate: 0rem -2rem;
    font-size: 25%;
    text-align: center;
}
.Überschrift{
    text-align: center;
}
body{
   background-color: #dad5d5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.smiley{
    font-size: 700%;
    translate: 0 25%;
}
#box2{
    translate: 0 auto;
     border-radius: 10%;
    border: 0.1rem solid;
    height: 26rem;
    width: 75%;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0vh;
    text-align: center;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 20%;
}
#box2:hover{
    transform:scale(1.1)
}
